<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse main-nav">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><i class="fa fa-arrow-up"></i> Ro LevelUp</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li [routerLinkActive]="['link-active']" class="nav-item active">
                <a [routerLink]="['/home']" class="nav-link">
                    <span class='fa fa-home'></span> Home
                </a>
            </li>
            <li [routerLinkActive]="['link-active']" class="nav-item">
                <a [routerLink]="['/counter']" class="nav-link">
                    <span class='fa fa-calculator'></span> Counter
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="display-data-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Display Data
                </a>
                <div class='dropdown-menu bg-inverse' aria-labelledby="display-data-dropdown">
                    <a [routerLink]="['/data-display-table']" class="dropdown-item bg-inverse nav-link">
                        <span class='fa fa-list'></span> Display Data as List
                    </a>
                </div>
            </li>
        </ul>


        <ul class='navbar-nav navbar-right'>
            <li [routerLinkActive]="['link-active']" class="nav-item">
               
            </li>
        </ul>

    </div>
</nav>
